@model NumberGuessingGame.Models.ViewModels.ViewModel

@{
    ViewBag.Title = "Guess the secret number";
}

<h2>Guess the secret number</h2>
<p>You have 7 guesses, can you guess the number between 1 and 100?</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();
    @Html.EditorFor(m => m.Guess);
    <input type="submit" value="Guess" />
}



@if (Model != null && Model.SecretNumber.GuessedNumbers.Count >0)
{
    <p>Guessed Numbers:</p>
    <ul>
        @foreach (var number in Model.SecretNumber.GuessedNumbers)
        {
            <li>@number.Number</li>
        }
    </ul>
    
    @Model.DisplayOutCome()
    <br />
    if (Model.SecretNumber.CanMakeGuess == false)
    {
        @Html.ActionLink("New Secret Number", "Index")   
    }

}




@section scripts
{
    <script>
        $(function ()
        {
            $("#secretNumber").focus();
        });
    </script>
}